*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: system-ui;
}
.dark {
    background-color: #333;
}
ul li {
    list-style: none;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    margin: 30px 0;
    text-align: center;
    color: #444;
}
.dark .head{
    color: #fff;
}
.inputs{
    border: 1px solid #ece4e4;
    background-color: white;
}
.dark .inputs{
    background-color: #333;
    color: white;
}
 .title-input{
    background-color: #f3f3f3;
    padding: 12px;
    color: #444;
    border-bottom: 1px solid #ece4e4;
}
.three-input{
    margin-top: 20px;
    padding: 20px;
    display: flex;
}
.three-input input{
    padding: 12px 0;
    width: 80%;
}
.dark input{
    background-color: #111;
    color: white
}
.three-input span{
    width: 40%;
}

#submit{
    display: block;
    margin: 10px auto;
    padding: 8px 22px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: #0096D4;
    color: white;
    cursor: pointer;
}
.dark #submit{
    background-color: #784579;
}

.output{
    border: 1px solid #ece4e4;
    margin-top: 30px;
    background-color: white;
}
.dark .output{
    background-color: #333;
    color: white;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    position: relative;
}
th,td{
    padding: 5px;
}

#del,#update{
    border: none;
    padding: 4px 6px;
    color: white;
    width: 70px;
    font-size: 17px;
    margin-bottom: 6px;
    cursor: pointer;
}
#del{
    background-color: #B1384D;
}
#update{
    background-color: #00C9C3;
}

table td{
    border-bottom: 2px solid #000;
}



/* dark mode */

.toggle{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
}

/* 794 */
@media (max-width: 798px) {
    .three-input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .three-input span{
        width: 100%;
        margin-bottom: 20px;
    }
    .three-input input{
        width: 100%;
    }
    }